:root {
  --color-iris: #4d5ae5;
  --color-ocean: #404bbf;
  --color-navy-blue: #2e2f42;
  --color-green: #31d0aa;
  --color-slate: #434455;
  --color-light-slate: #8e8f99;
  --color-cornflower: #e7e9fc;
  --color-cloud: #f4f4fd;
  --color-navy-blue-modal: #2e2f42;
  --color-grey: #2e2f42;
  --color-white: #ffffff;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  padding-left: 0;
  margin: 0;
}

button {
    cursor: pointer;
}

.section {
  padding-bottom: 120px;
  padding-top: 120px;
}

address {
    font-style: normal;
}

.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--color-slate);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* !----------Header---------- */

.header { 
  border-bottom: 1px solid var(--color-cornflower);  
  background-color: var(--color-white);  
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08); 
}

.header-container {
    display: flex; 
    align-items: center;
    justify-content: space-between;       
}
.header-nav {
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.header-logo {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--color-iris);
  text-transform: uppercase;
}
.web-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--color-navy-blue);
}

.header-list {
   display: flex;
   align-items: center;
   gap: 40px;
   padding: 0;
   margin-left: 76px;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.header-list-item {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-navy-blue);
 margin: 24px 0;
}
.header-list-item:hover,
.header-list-item:focus {
  color: var(--color-ocean);
}

.header-navig {
 display: flex;
 gap: 40px;
 justify-content: center;
 margin-left: auto;
}

.header-navig-item {
  display: block;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-slate);
  margin: 24px 0;
}
.header-navig-item:hover,
.header-navig-item:focus {
  color: var(--color-ocean);
}
.header-address {
   
}

/* !----------Caption---------- */

.caption {
  background-color: var(--color-navy-blue);
  background-image: linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 188px 0;
}
.caption-container {
  
}

.caption-text {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--color-white);
  margin: 0 auto;
  max-width: 496px;
}

.caption-btn {
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-white);
  background-color: var(--color-iris);
  display: block;
  margin: 0 auto;
  margin-top: 48px;
  min-width: 169px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  border-radius: 4px;
  padding: 16px 32px;
}

.caption-btn:hover,
.caption-btn:focus {
  background-color: var(--color-ocean);
}

/* !----------HERO---------- */

.hero {
  padding-bottom: 60px;
}
.hero-text-none {
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.hero-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.hero-list-item {
  flex-basis: calc((100% - 72px) / 4);
}

.hero-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-navy-blue);
  margin-bottom: 8px;
}
.hero-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-slate);
}

.hero-icon {
  width: 264px;
height: 112px;
background-color: var(--color-cloud);
border-radius: 4px;
margin-bottom: 8px;
}
/* ! -----------DOING------------ */
.doing {
  padding-top: 60px;
}
.doing-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--color-navy-blue);
  margin-bottom: 72px;
}
.doing-list {
  display: flex;
  gap: 24px;
}
.list {
}
.doing-list-item {
  flex-basis: calc((100% - 48px) / 3);

}

/* !---------------TEAM---------------- */

.team {
  background-color: var(--color-cloud);
}
.container-team {

}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--color-navy-blue);
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}

.team-list-text {
  padding: 32px 0;
}

.team-item {
  background-color: var(--color-white);
  text-align: center;
  flex-basis: calc((100% - 72px) / 4);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-navy-blue);
  margin-bottom: 8px;
}
.team-prof {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-slate);
  margin-bottom: 8px;
}

.team-soc-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.team-soc-item {
  width: 40px;
  height: 40px;
}
.team-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--color-iris);
  display: flex;
  align-items: center;
  justify-content: center;
}
.team-soc-link:hover,
.team-soc-link:focus {
  background-color: var(--color-ocean);
}
/* ! -----------CUSTOMERS------------ */

.customers {
  padding-top: 130px;
  padding-bottom: 120px;
}
.customers-title {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--color-navy-blue);
margin-bottom: 72px;
}
.customers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}

.customers-item {
  width: 168px;
  height: 88px;
  flex-basis: calc((100% - 120px) / 6);
}
.customers-link {
  display: flex;
  align-items: center; 
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--color-light-slate);
  border-radius: 4px;
  color: var(--color-light-slate);
  
}
.customers-link:hover .customers-icon {
  fill: var(--color-ocean);
}

.customers-link:hover {
  border: 1px solid var(--color-ocean);
  fill: var(--color-ocean);
}
.customers-icon {
  fill: currentColor;
}

/* !------------FOOTER-------------- */

.footer {
  background-color: var(--color-navy-blue);
  padding: 100px 0;
}



.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-iris);
}
.footer-logo-item {
  font-family: "Raleway" sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--color-cloud);
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-cornflower);
  margin-top: 16px;
  max-width: 264px;
}

.footer-logo:hover,
.footer-logo:focus {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-iris);
}
.container-footer{
  display: flex;
}
.soc-media {
margin-left: 120px;
}
.media {
  font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--color-white);
margin-bottom: 16px;
}
.footer-soc-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.footer-soc-item {
  width: 40px;
  height: 40px;
}
.footer-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center; 
  justify-content: center;
}
.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: var(--color-green);
}
.footer-soc-icon {
}
/* !-----------------PORTFOLOI---------------------- */

.portfolio {
padding-top: 96px;
}
.portfolio-list-btn {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 72px;
  text-align: center;
}
.portfolio-btn {
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-iris);
  background-color: var(--color-cloud);
  border: 1px solid var(--color-cornflower);
border-radius: 4px;
padding: 12px 24px;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--color-white);
  background-color: var(--color-ocean);
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}
.portfolio-list-item {
  flex-basis: calc((100% - 48px) / 3);
 background-color: var(--color-white);
}


.portfolio-item {
 
}

.portfolio-item-text {
  border: 1px solid var(--color-cornflower);
  border-top: none;
  padding: 32px 16px;
}

.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-navy-blue);
  margin-bottom: 8px;
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-slate);
}
